<div class="row">
  <div class="col-xs-12">
      <label for="images">Attached files</label>
      <div 
        class="row images-list"
        [ngClass]="imagesListClass()">
          <div 
            class="col-xs-4 img-container"
            *ngFor="let image of attachedImages; let i = index;">
              <app-attached-image
                [image]="image"
                [index]="i"
              ></app-attached-image>
          </div>
      </div>
      <label class="btn btn-default btn-file btn-round">
        <i class="glyphicon glyphicon-link"></i>
        <input 
          type="file" 
          class="form-control image-input" 
          accept="image/*" 
          (change)="changeFile($event)">
      </label>
  </div>
</div>