<div class="img-container">
  <img 
    class="img-fluid img-rounded"
    [src]="domSanitizer.bypassSecurityTrustUrl(image)"
    (click)="removeImage()"
  />
  <i class="glyphicon glyphicon-trash remove-image"></i>
</div>