img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}

.img-container:hover img {
    opacity: 0.3;
}

.remove-image {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

.img-container:hover .remove-image {
    opacity: 1;
}

