<div id="emailModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Send E-mail</p>
      </div>
      <div class="modal-body">
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
          <div formGroupName="emailAddresses">
            <div class="form-group">
              <input
                type="text"
                placeholder="To"
                id="to"
                formControlName="to"
                class="form-control">
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="CC"
                id="cc"
                formControlName="cc"
                class="form-control">
            </div>
            <div class="form-group">
              <input
                type="text"
                placeholder="BCC"
                id="bcc"
                formControlName="bcc"
                class="form-control">
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              placeholder="Suject"
              id="subject"
              formControlName="subject"
              class="form-control">
          </div>
          <div class="form-group">
            <textarea
              type="text"
              placeholder="Message"
              id="message"
              formControlName="message"
              rows="8"
              class="form-control">
            </textarea>
          </div>
          <app-attached-images></app-attached-images>
          <div class="row">
            <div class="col-xs-12">
              <button 
                [disabled]="!emailForm.valid"
                id="sendButton"
                class="btn circle pull-right"
                [ngClass]="sendButtonClass()">
                  <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;&nbsp;Send
              </button>
            </div>
          </div>
        </form>
      </div> 
    </div>  
  </div>
</div>