.modal {
    margin: 2%;
}

.modal-header {
    color: white;
    background-color: #162955;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.modal-body {
    margin:20px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

button.circle {
    border-radius: 15px;
}

button.gray {
    background-color: gray;
}